.btn {
	@include flex (center, center);
	width: 240px;
	height: 40px;

	background-color: #53CD8B;
	border-radius: 50px;
	font-family: 'OnestMedium';

	font-weight: 500;
	font-size: 12px;
	line-height: 15px;

	color: #FFFFFF;
	border: none;

	@include media (min, lg) {

		width: 231px;
		height: 60px;

		font-size: 16px;
		line-height: 20px;


	}

	&:hover {
		border: 2px solid #53CD8B;
		color: #53CD8B;
		background-color: transparent;
	}

}