.services {
	padding-top: 42px;
@include media (min, lg) {
	padding-top: 105px;
}
	// .services__title
	&__title {
		text-align: left;
		margin-bottom: 22px;
		@include media (min, lg) {
			margin-bottom: 44px;
		}
	}

	// .services__wrapper
	&__wrapper {
		@include flex ($flex-direction: column);
	}

	// .services__top
	&__top {
		@include flex(space-between, center);
		margin-bottom: 10px;

		p:first-child {
			width: 44%;
			@include media (min, lg) {
				width: 49%;
			}
		}
		@include media (min, lg) {
			margin-bottom: 20px;
			padding: 0 115px 0 60px;
    		}
	}

	// .services__subtitle
	&__subtitle {}

		// .services__accordeon-box
		&__accordeon-box {
			margin-bottom: 20px;
			@include media (min, lg) {
				margin-bottom: 40px;
			}
		}


	// .services__btn
	&__btn {

		width: 140px;
		margin: 0 auto;
		@include media (min, lg) {
			width: 187px;
		}


	}
}




// .services {
// 	margin-top: 100px;
// 	color: $textColor;
// 	@media all and (max-width: 888px) {
// 	  margin-top: 50px;
// 	  }
// 	  @media all and (max-width: 321px) {
// 		margin-top: 40px;
// 		}
// 	&__price {
// 	  background: #FFFFFF;
// 	  display: grid;
// 	  grid-template-columns: repeat(3, 1fr);
// 	  padding: 20px 60px;
// 	  @media all and (max-width: 600px) {
// 		padding: 20px;
// 		};
// 		@media all and (max-width: 400px) {
// 		  padding: 10px 20px;
// 		  };

// 	}
// 	&__name {
// 	  color:#0F2F2E;
// 	  display: grid;
// 	  grid-template-columns: repeat(3, 1fr);
// 	  padding: 40px 60px 20px;

// 	  @media all and (max-width: 724px) {
// 		padding: 0 0 10px 0;
// 		};
// 		  @media all and (max-width: 400px) {
// 			font-size: 8px;
// 			};
// 			@media all and (max-width: 600px) {
// 			  font-size: 12px;
// 			  };
// 	&__text--left  {
// 	  @media all and (max-width: 724px) {
// 		text-align: center;
// 		 margin-right: 50px;
// 		}; 
// 	} 

// 	}
// 	&__text:nth-child(2),
// 	&__text:nth-child(5),
// 	&__text:nth-child(8),
// 	&__text--center {
// 	  text-align: center;
// 	}
// 	&__text:nth-child(3n) {
// 	  margin-left: 20px;
// 	}
// 	&__text {
// 	  padding: 6px;
// 	}
// 	&__text:nth-child(1),
// 	&__text:nth-child(4),
// 	&__text:nth-child(7) {
// 	  text-decoration: underline;
// 	}
// 	&__summary__img {
// 	  margin-right: 35px;
// 	  @media all and (max-width: 600px) {
// 		margin-right: 0;
// 		};

// 	}
// 	&__text--left,
// 	&__text--center,
// 	&__text--right {
// 	  color: #707777;
// 	}
// 	&__text,
// 	&__text--left,
// 	&__text--center,
// 	&__text--right {
// 	  @media all and (max-width: 600px) {
// 		font-size: 8px;
// 		}; 
// 	}
// 	&__button{
// 	  border-color: $accentColor;
// 	  color: $accentColor;
// 	  width: 187px;
// 	  height: 60px;
// 	  @media all and (max-width: 400px) {
// 		width: 140px;
// 	  height: 40px;;
// 		};
// 	}
// 	&__button:hover {
// 	  color: #FFFFFF;
// 	  background-color: $accentColor;
// 	  border: none;
// 	}
// 	&__btn {
// 	  display: flex;
// 	  justify-content: center;
// 	  margin-top: 40px;
// 	  @media all and (max-width: 600px) {
// 		margin-top: 20px;
// 		};
// 	}
//   }

//   details > summary {
// 	color: #ffff;
// 	border-radius: 40px;
// 	list-style-type: none;
// 	background-color: $accentColor;
// 	margin-top: 2px;
// 	padding: 25px 0 25px 60px;
// 	display: flex;
// 	justify-content: space-between;
// 	@media all and (max-width: 600px) {
// 	  padding: 10px 20px;
// 	  };

//   }

// 	details > summary::-webkit-details-marker {
// 	  display: none;
// 	}
// 	details[open] {
// 	  img {
// 		transform: rotate(180deg);
// 		-webkit-transform: rotate(180deg);
// 		-moz-transform: rotate(180deg);
// 		-ms-transform: rotate(180deg);
// 		-o-transform: rotate(180deg);
// 	  }
// 	}