.content {

	// .content__left
	&__left {
		width: 625px;
		margin-left: 335px;
		margin-top: 115px;
	}

	// .content__left-text
	&__left-text {
		// padding-left: 118px;
		margin-bottom: 20px;
	}

	// .content__left-title
	&__left-title {
		// margin-top: 20px;
		margin-bottom: 40px;
	}

	// .content__left-list
	&__left-list {}

	// .content__right
	&__right {
		background-image: url(../img/bg_right.jpg);
		background-repeat: no-repeat;
		width: 732px;
		height: 807px;
		position: relative;
		right: 0
	}

	// .content__right-image
	&__right-image {
		position: absolute;
		left: -230px;
		top: 30px;
		height: 782px
	}

	// .content__right-medals
	&__right-medals {
		position: absolute;
		top: 0;
		left: 130px
	}

	// .content__right-text
	&__right-text {
		width: 215px;
		position: absolute;
		top: 280px;
		left: 170px;
		font-family: Raleway;
		font-size: 18px;
		font-weight: 500;
		line-height: 25px;

		// .content__right-text_mod
		&_mod {
			font-family: Raleway;
			font-size: 18px;
			font-weight: 700;
			line-height: 25px
		}
	}
}