.header {
	margin-top: 30px;

	@include media (min, lg) {
		margin-top: 84px;
	}


	// .header__wrapper
	&__wrapper {
		@include flex (space-between, center);


	}

	// .header__block
	&__block {
		width: 100%;
		@include flex (space-between, center);
		padding: 0 20px;
		@include media (min, lg) {
			width: 80px;
			margin-right: 40px;
		}
	}

	// .header__logo
	&__logo {
		

	}

	// .header__inner
	&__inner {
		display: none;


		@include media (min, lg) {
			@include flex ($flex-direction: column);
		}

	}

	// .header__nav
	&__nav {
		@include flex ();
	}
}