.top {
	border-bottom: 2px solid #050103;

	// .top__menu
	&__menu {}

	// .top__menu-list
	&__menu-list {
		gap: 30px;
		margin-right: 66px;
	}

	// .top__menu-box
	&__menu-box {
		gap: 30px;
		margin-right: 66px;
	}


	// .top__menu-mail
	&__menu-mail {}

	// .top__menu-address
	&__menu-address {
		font-family: Raleway;
		font-size: 18px;
		font-weight: 600;
		line-height: 27px;
	}

	// .top__menu-time
	&__menu-time {}

	// .top__menu-tel
	&__menu-tel {
		font-family: Montserrat;
		font-size: 24px;
		font-weight: 600;
		line-height: 29px;
		color: #050103;
		margin-right: 30px;
	}
}