// textColors
$textColor: #0F2F2E;
$textColorSecondary: #C7A17A;
$textColorHome: #fff;
$textColorSecondary: #A7A7A7;
$linkColor: #010103;
$linkColorHover: #c7a17a;

//colors
$accentColor: #53CD8B;



//backgroundColors
$bgColor: #fff;
$bgColorHome:#503D3B;
$bgColorHeader: #FAF5F0;
$bgColorHeaderBig: #fff;
$bgColorDark: #020203;

// buttonsColors

$buttonColorPrimary: #c7a17a;
$buttonColorPrimaryHover:#E0B68B;
$buttonColorPrimaryActive: #AC8B6A;


$grid_breakpoints: (
   xxl: 1591px,
   xl: 1279px,
   lg: 1023px,
   md: 767px,
   sm: 575px,
);








